.Summary {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
}

.Summary .kCal {
  font-size: 14px;
  font-style: italic;
  opacity: 0.6;
}

.actionButtons .backButton {
    width: 100%;
}

.LinearProgress {
    width: 90%;
    margin-top: 10px;
}

.Summary .categories {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Summary .categorieContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: center;
}

.actions {
    margin-bottom: 20px;
}

.actions, .actionButtons {
    width: 100%;
}

.actionButtons {
    width: calc(100% - 40px);
    margin: 0 20px;
}
