.Summary {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1D3752;
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
}

.actionButtons .backButton {
    width: 100%;
}

.LinearProgress {
    width: 90%;
    margin-top: 10px;
}

.Summary .categories {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Summary .categorieContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.actions {
    margin-bottom: 20px;
}

.actions, .actionButtons {
    width: 100%;
}

.actionButtons {
    width: calc(100% - 40px);
    margin: 0 20px;
}
