.NewFood {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1D3752;
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
}

.categories {
    height: 100%;
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-flow: wrap
}

.categorieContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.categorieContainer .avalaible{
    color: grey;
}

.categorieContainer .buttons {
    width: 50%;
    margin-top: 8px;
    display: flex;
    justify-content: space-evenly;
}

.categorieContainer .remove {
    color: pink;
}

.avalaible {
    font-size: 14px;
}

.actions {
    margin-bottom: 20px;
}

.actions, .actionButtons {
    width: 100%;
    font-size: 1.3rem;
}

.actionButtons {
    width: calc(100% - 40px);
    margin: 0 20px;
}

.actionButtons .addButton {
    width: 100%;
}
