.History {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #1D3752;
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
}

.actionButtons .backButton {
    width: 100%;
}

.History .title {
    margin: 20px 0 10px;
}

.History .list {
    width: 100%;
    font-size: 1rem;
}

.History .list .hour {
    font-style: italic;
}

.History .itemContainer {
    min-height: 140px;
    width: calc(100% - 20px);
}

.History .categories {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    color: #AAA;
}

.History .categories.odd {
    justify-content: flex-end;
}

.History .categories .category {
    margin-right: 10px;
}

.actions {
    margin-bottom: 20px;
}

.actions, .actionButtons {
    width: 100%;
}

.actionButtons {
    width: calc(100% - 40px);
    margin: 0 20px;
}
