.Main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1D3752;
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
}

.bigButton {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bigButton.new {
    background: #214D72;
}

.bigButton.summary {
    background: #2C7695;
}

.bottomButton {
    color: #F7C232;
    font-size: 1.5rem;
}

.bottomButton .label {
    display: flex;
}

.Main svg {
    margin-right: 8px;
}
