.Main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
}

.Main .BottomBackground {
    width: 100vw;
}

.bigButton {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Main button.MuiButtonBase-root.bottomButton {
    width: fit-content;
    max-width: 100% !important;
    font-size: 16px !important;
    margin: 20px auto !important;
    z-index: 1;
}

.Main button.MuiButtonBase-root.bottomButton span {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 100% !important;
    color: white !important;
}

.Main button.MuiButtonBase-root.bottomButton.morning {
    background-color: #B2AF77 !important;
}

.Main button.MuiButtonBase-root.bottomButton.afternoon {
    background-color: #6D3D15 !important;
}

.Main button.MuiButtonBase-root.bottomButton.night {
    background-color: #0B1129 !important;
}

.Main .cardActionContainer {
    margin: 20px;
    z-index: 1;
}

.Main .CardAction {
    height: 250px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Main .CardAction .emoji {
    text-align: center;
    font-size: 70px;
}

.Main .CardAction .title {
    text-align: center;
    font-size: 16px;
}

.Main svg {
    margin-right: 8px;
}

.Main .phrase {
    text-align: center;
    margin: 10px 20px;
    margin-bottom: -250px;
    z-index: 1;
}

.MuiButtonBase-root {
    color: inherit !important;
    font-size: inherit !important;
}

.CaloriesCircularProgress .topText {
    text-align: center;
    font-size: 50px;
}

.CaloriesCircularProgress .bottomText {
    text-align: center;
    font-size: 14px;
}
