.CircularProgress {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CircularProgress .svg {
    position: absolute;
}

.CircularProgress .backSvg {
  position: absolute;
}

.CircularProgress .content {
    display: flex;
    flex-direction: column;
}
