.SelectTimeContainer {
    width: 100%;
    height: 100%;
    padding: 20px 0;
}
.SelectTimeContainer .cardActionContainer {
    z-index: 1;
    height: 100%;
}

.SelectTimeContainer .CardAction {
    height: fit-content;
    cursor: pointer;
    background-color: rgba(229, 246, 253, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: transform .1s linear;
}

.SelectTimeContainer .CardAction .emoji {
    text-align: center;
    font-size: 70px;
}

.SelectTimeContainer .CardAction .title {
    text-align: center;
    font-size: 16px;
}

.SelectTimeContainer .CardAction.selected {
    transform: scale(1, 1.1);
    background-color: rgba(229, 246, 253, 0.9);
    font-weight: bolder;
}