.ChangeUser {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
}

.users {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.userContainer span {
    font-size: 1rem;
}

.userContainer svg {
    margin-bottom: 10px;
    font-size: 3.5rem;
}
